.event {
  padding: 3rem 0;
}

.title {
  font-family: 'Libre Baskerville', serif;
  font-size: 1.4rem;
  font-style: italic;
  font-weight: bolder;
}

.content {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.8rem;
}

.placelink {
  text-decoration: underline;
  font-size: 0.8rem;
}

.placelink a {
  font-size: 0.8rem;
}