.story {
  padding: 3rem 0 4rem 0;
  background-color: #A6BB8D;
}

.carousel {
  padding-top: 1rem;
}

.title {
  font-family: 'Libre Baskerville', serif;
  font-size: 2rem;
  text-align: center;
}

.year {
  font-size: 1.3rem;
  font-family: 'Libre Baskerville', serif;
  font-weight: bolder;
}

.description {
  word-wrap: break-word;
}

.image {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.verticalDivider {
  display: block;
  width: 1px;
  height: 80px;
  margin: 0 auto 2rem;
  background-color: #3c6255;
}

.verticalDivider.bottom {
  margin: 2rem auto 0;
}

.navContainer {
  position: absolute;
  right: 0;
  display: flex;
  gap: 0.5rem;
}

.navButton {
  font-size: 1rem;
  border-radius: 50% !important;
  padding: 0.45rem 1rem;
}

@media screen and (max-width: 995px) {
  .verticalDivider.top {
    margin-top: 1rem;
  }
}