.greeting {
  padding: 4rem 0;
}

.title {
  font-family: 'Libre Baskerville', serif;
  font-size: 2rem;
  text-align: center;
}

.greetings {
  max-height: 400px;
  overflow: auto;
  margin-top: 1rem;
}

.name {
  font-family: 'Libre Baskerville', serif;
  font-weight: bolder;
  margin-bottom: 0;
}

.greet {
  margin-bottom: 1rem;
}