.countdown {
  width: 100%;
}

.date {
  font-family: 'Libre Baskerville', serif;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1.3rem !important;
  letter-spacing: 0.5rem;
}

.counter {
  background-color: #EAE7B1;
  opacity: 0.8;
  border-radius: 5px;
  padding: 0.5rem 0.1rem;
}

.counterItem {
  font-size: 1.5rem;
}

.counterLabel {
  font-size: 1rem;
}