.head {
  margin-bottom: 3rem;
}

.singleGallery {
  object-fit: cover;
  height: 730px;
  width: 100%;
}

.quote {
  font-style: italic;
  font-weight: 3 00;
}

.verticalDivider {
  display: block;
  width: 1px;
  height: 80px;
  margin: 0 auto 2rem;
  background-color: #3c6255;
}

.verticalDivider.bottom {
  margin: 2rem auto 0;
}

@media screen and (max-width: 600px) {
  .verticalDivider.top {
    margin-top: 1rem;
  }
}